# function

In [1]:
def operations(n1, n2):
    return n1+n2, n1-n2, n1*n2, n1/n2

result = operations(10, 8)
print(result)

result_add, result_sub, result_multi, result_div = operations(10, 8)
print(result_add, result_sub, result_multi, result_div)

result_add, result_sub, result_multi, result_div = 18, 2, 80, 1.25
result_add, result_sub, result_multi, result_div = (18, 2, 80, 1.25)
print(result_add, result_sub, result_multi, result_div)

(18, 2, 80, 1.25)
18 2 80 1.25
18 2 80 1.25

In [2]:
'''
return
    1) 함수를 종료함
    2) 프로그램의 흐름을 함수를 호출한 곳으로 되돌림
        ㄴ return 값이 있는 경우에는 그 값도 가지고 돌아감
'''

def add(n1, n2):
    print('덧셈')
    return n1 + n2

result = add(11, 22)
print(result)

덧셈
33

In [3]:
'''
# name 에 전달된 이름이 '이순신' 인 경우,
# if 문이 True 가 되어서 return 함으로 함수가 바로 종료됨
# 안녕하세요 가 출력되지 않음
'''

def say_hello(name):
    if name == '이순신':
        return
    print(f"{name} 님, 안녕하세요")
    return

say_hello('더조은')
say_hello('아이티')
say_hello('아카데미')
say_hello('이순신')

더조은 님, 안녕하세요
아이티 님, 안녕하세요
아카데미 님, 안녕하세요

In [4]:
'''
함수 기본값 매개변수
    default value parameter
        ㄴ parameter 로 들어오는 argument 를 미리 정함
        ㄴ parameter 중에서 맨 마지막에 위치해야 함
'''

def info_person(name, age, man=True):
    print(f"이름 : {name}")
    print(f"나이 : {age}")
    if man:
        print("성별 : 남자")
    else:
        print("성별 : 여자")
    print('-' * 50)
        
info_person('홍길동', 32)
info_person('임꺽정', 49)
info_person('유관순', 18, False)
info_person('유관순', 18, man=False)

이름 : 홍길동
나이 : 32
성별 : 남자
--------------------------------------------------
이름 : 임꺽정
나이 : 49
성별 : 남자
--------------------------------------------------
이름 : 유관순
나이 : 18
성별 : 여자
--------------------------------------------------
이름 : 유관순
나이 : 18
성별 : 여자
--------------------------------------------------

In [5]:
def print_fruits(fruits):
    print(type(fruits))
    for fruit in fruits:
        print(fruit, end=" ")
    print()
    
fruits_list = ['strawberry', 'watermelon', 'mango']
fruits_tuple = ('banana', 'peach', 'melon')

print_fruits(fruits_list)
print_fruits(fruits_tuple)

<class 'list'>
strawberry watermelon mango
<class 'tuple'>
banana peach melon

In [6]:
'''
# *fruits : 비어있는 tuple를 생성해서
# parameter 로 전달되어온 값을 이 tuple 에 저장함
'''

def print_fruits(*fruits):
    print(type(fruits))
    for fruit in fruits:
        print(fruit, end=" ")
    print()
    
fruits_list = ['strawberry', 'watermelon', 'mango']
fruits_tuple = ('banana', 'peach', 'melon')

print_fruits(fruits_list)
print_fruits(fruits_tuple)

<class 'tuple'>
['strawberry', 'watermelon', 'mango']
<class 'tuple'>
('banana', 'peach', 'melon')