# enumerate

In [1]:
'''
enumerate : item 의 index 와 값을 반환함
'''

list_numbers = [1, 2, 3, 4, 5]

for idx, value in enumerate(list_numbers):
    print(f"{idx+1} 번째 요소는 {value} 입니다")
print('-' * 50)

for idx, value in enumerate(list_numbers, start=1):
    print(f"{idx} 번째 요소는 {value} 입니다")
print('-' * 50)

1 번째 요소는 1 입니다
2 번째 요소는 2 입니다
3 번째 요소는 3 입니다
4 번째 요소는 4 입니다
5 번째 요소는 5 입니다
--------------------------------------------------
1 번째 요소는 1 입니다
2 번째 요소는 2 입니다
3 번째 요소는 3 입니다
4 번째 요소는 4 입니다
5 번째 요소는 5 입니다
--------------------------------------------------

In [2]:
'''
# parameter 가 여러 개인 경우,
# *n4 parameter 는 항상 맨 마지막에 위치해야 함
'''

def test4(n1, n2, n3, *n4):
    print(n1, n2, n3, n4)
    
test4(1, 2, 3, 4, 5, 6)

1 2 3 (4, 5, 6)

## lambda()

In [3]:
'''
lambda 함수 : lambda 키워드를 사용해서 함수를 간결하게 표현함
  ㄴ 함수를 변수에 할당할 수도 있고
    함수를 parameter 나 return 값으로 사용할 수 있음
    
    형식)
    lambda [parameter] : return 값
'''

def add(n1, n2):
    return n1 + n2
result = add(11, 22)

print(result)

33

In [4]:
'''
# lambda 함수 직접 실행하기
'''
result = (lambda n1, n2 : n1 + n2)(10, 20)
print(result)

30

In [5]:
'''
# lambda 함수를 변수에 할당하기
'''
test1 = lambda n1, n2 : n1 + n2
result = test1(11, 22)
print(result)

33

In [6]:
'''
# 항상 return 값이 출력 됨
'''
print('result :', (lambda n1, n2 : n1 + n2)(5, 7))
print('result :', (lambda n1, n2 : n1 - n2)(5, 7))
print('result :', (lambda n1, n2 : n1 * n2)(5, 7))
print('result :', (lambda n1, n2 : n1 / n2)(5, 7))

print('-' * 50)

print('result :', (lambda n1, n2 : 'hello python')(5, 7))
print('result :', (lambda n1, n2 : 777)(5, 7))

result : 12
result : -2
result : 35
result : 0.7142857142857143
--------------------------------------------------
result : hello python
result : 777

In [7]:
'''
# lambda 함수에서 default value parameter 사용하기
'''
print('result :', (lambda n1, n2=11 : n1 + n2)(5, 7))
print('result :', (lambda n1, n2=11 : n1 + n2)(5))

result : 12
result : 16

In [8]:
'''
# lambda 함수 속에서 전역 변수 사용하기
#   ㄴ global 키워드를 사용하지 않아도 됨
'''
number = 22
print('result :', (lambda n1 : n1 + number)(33))

result : 55

In [9]:
'''
add_10 함수를 실행해 보고
lambda 형태로 변형해서 실행해 보세요
'''

def add_10(number):
    return number + 10

result = add_10(10)
print(result)

# lambda 함수를 print() 함수의 argument 로 사용
result = (lambda number : number + 10)(10)
print(result)

20
20

In [10]:
'''
# lambda 함수 속에서는 변수에 값을 할당할 수 없음
'''
# SyntaxError: invalid syntax
# print((lambda n1 : n2 = 11, n1 + n2)(11))
print((lambda n1, n2 : n1 + n2)(11, 22))

33

## map()

In [11]:
'''
map() 함수
  ㄴ 함수와 list 를 전달받아서
    list 에서 요소를 하나씩 꺼내서 함수를 적용한 후
    (list 의 요소들이 하나씩 차례대로 이 함수의 parameter로 전달됨)
    그 결과 값들로 구성된 map 객체가 생성됨
'''

result = list(map(lambda n : n ** 2, [1, 2, 3, 4, 5]))
print(result)

[1, 4, 9, 16, 25]

In [12]:
list_numbers = [1, 2, 3, 4, 5]

def test1(n):
    return n ** 2

print(list(map(test1, list_numbers)))

[1, 4, 9, 16, 25]

In [13]:
'''
for 문을 사용해서 float_numbers 에 저장된 요소들을
정수로 변환해서 list에 저장해서 이 list 를 출력하세요
'''

float_numbers = [1.2, 2.4, 3.6, 4.5, 5.1]
print(float_numbers)

int_numbers = []
for number in float_numbers:
    int_numbers.append(int(number))
print(int_numbers)

[1.2, 2.4, 3.6, 4.5, 5.1]
[1, 2, 3, 4, 5]

In [14]:
'''
for 문을 사용해서 float_numbers 에 저장된 요소들을
정수로 변환해서 list에 저장해서 이 list 를
반환하는 함수를 작성해서 호출하여
반환된 값을 확인 하세요
'''

float_numbers = [1.2, 2.4, 3.6, 4.5, 5.1]
print(float_numbers)

def float2int(float_list):
    int_numbers = []
    for real_number in float_list:
        int_numbers.append(int(real_number))
    return int_numbers
        
print(float2int(float_numbers))

[1.2, 2.4, 3.6, 4.5, 5.1]
[1, 2, 3, 4, 5]

In [15]:
'''
실수로 구성된 리스트를 정수로 구성된 리스트로
변환하는 code 를 작성하세요
map() 함수를 사용 하세요
'''
float_numbers = [1.2, 2.4, 3.6, 4.5, 5.1]
print(float_numbers)

# 1) 일반함수와 list 를 사용힘
def float2int(float_list):
    int_number = int(float_list * 10 // 10)
    return int_number

print(list(map(float2int, float_numbers)))

# 2) lambda 함수와 list 를 사용함
result = list(map(lambda n : int(n * 10 // 10), float_numbers))
print(result)

# 3) 내장함수 int 를 사용함
int_numbers = list(map(int, float_numbers))
print(int_numbers)

# 4) 내장함수 str 을 사용해서 문자열로 바꾸기
str_numbers = list(map(str, float_numbers))
print(str_numbers)

[1.2, 2.4, 3.6, 4.5, 5.1]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
['1.2', '2.4', '3.6', '4.5', '5.1']

In [16]:
'''
# unpacking
num1, num2 = result
'''
# result = input('정수 두 개를 공백으로 구분해서 입력하세요 :').split()
result = '11 22'.split()

# 11 과 22 를 입력해서 total 에 33 을 저장함
# map() 함수 사용하기
# input() 을 통해서 입력된 값은 모두 문자열이 됨
# result : ['11', '22'] <-- 문자열 리스트
#   ㄴ int 리스트로 만들어야 함
num1, num2 = map(int, result)
total = num1 + num2
print(total)

33

In [17]:
'''
아래의 list_nums 의 요소 중 3의 배수만
문자열로 변환하세요.
map() 함수 활용하기
1) 일반함수
2) lambda 함수 - lambda 식
3) if 조건문 사용 : number % 3 == 0
'''
list_nums = list(range(1, 21))

# 일반함수
def int2str(num):
    if num % 3 == 0:
        return str(num)
    return num

result = list(map(int2str, list_nums))
print(result)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10, 11, '12', 13, 14, '15', 16, 17, '18', 19, 20]

In [18]:
'''
# lambda 식에서 조건문 사용하기 : 3의 배수만 문자열로 변환하기
'''
list_nums = list(range(1, 21))
result = list(map(lambda n : str(n) if n % 3 == 0 else n, list_nums))
print(result)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10, 11, '12', 13, 14, '15', 16, 17, '18', 19, 20]

In [19]:
'''
# 1은 문자열로 변환하고 2는 실수로 변환하고
# 나머지는 모두 10을 더해서 출력하세요
'''
# number = int(input('정수 하나를 입력하세요 :'))
number = 3
result = (lambda n : str(n) if n == 1 else float(n) if n == 2 else n + 10)(number)
print(result)

list_nums = list(range(1, 21))
result = list(map(lambda n : str(n) if n == 1 else float(n) if n == 2 else n + 10, list_nums))
print(result)

13
['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [20]:
list1 = [1, 2, 3, 4, 5]
list2 = [2, 4, 6, 8, 10]

result = list(map(lambda i, j : i * j, list1, list2))
print(result)

[2, 8, 18, 32, 50]