In [1]:
'''
312 page

csv -> db table
  1차 실행 : table 생성 -> 레코드 추가
  2차 실행 : 레코드 검색
'''
import pandas as pd

In [3]:
import pymysql

In [4]:
# csv 파일을 DataFrame 으로 변환함
bmi = pd.read_csv("C:/Users/user/python_week/test/day09/data2/bmi.csv")

In [5]:
print(bmi.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   height  20000 non-null  int64
 1   weight  20000 non-null  int64
 2   label   20000 non-null  object
dtypes: int64(2), object(1)
memory usage: 468.9+ KB
None

In [6]:
print(bmi.head())

   height  weight   label
0     184      61    thin
1     189      56    thin
2     183      79  normal
3     143      40  normal
4     187      66  normal

In [7]:
height = bmi["height"]
weight = bmi["weight"]
label  = bmi["label"]

In [8]:
height

0        184
1        189
2        183
3        143
4        187
        ...
19995    168
19996    190
19997    179
19998    148
19999    167
Name: height, Length: 20000, dtype: int64

In [9]:
weight

0        61
1        56
2        79
3        40
4        66
         ..
19995    74
19996    62
19997    77
19998    57
19999    71
Name: weight, Length: 20000, dtype: int64

In [10]:
label

0          thin
1          thin
2        normal
3        normal
4        normal
          ...
19995       fat
19996      thin
19997    normal
19998       fat
19999       fat
Name: label, Length: 20000, dtype: object

In [12]:
config = {
    'host' : '127.0.0.1',
    'user' : 'scott',
    'password' : 'tiger',
    'database' : 'work',
    'port' : 3309,
    'charset':'utf8',
    'use_unicode' : True}

In [13]:
try :
    conn = pymysql.connect(**config)
    cursor = conn.cursor()

    # table 조회
    cursor.execute("show tables")
    tables = cursor.fetchall()
    sw = False
    for table in tables :
        #print(table) # ('bmi_tab',)
        #print(table[0]) # bmi_tab
        if table[0] == 'bmi_tab' :
            sw = True # table 있는 경우 swapping

    if not sw :
        print('테이블 없음')
        # table 없으면 생성
        sql="""create table bmi_tab(
        height int not null,
        weight int not null,
        label varchar(15) not null
        )"""
        cursor.execute(sql)

    cursor.execute("select * from bmi_tab")
    rows = cursor.fetchall()
    if rows : # 레코드 있는 경우 : 레코드 조회
        for row in rows :
            print(f"{row[0]}    {row[1]}    {row[2]}")

        print('전체 레코드 수 : ', len(rows))
    else: # 레코드 없는 경우 : 레코드 추가
        print("100 레코드 추가")
        for i in range(100) :
            h = height[i]
            w = weight[i]
            l = label[i]
            cursor.execute(f"insert into bmi_tab values({h}, {w}, '{l}')")
            conn.commit()

except Exception as e:
    print('db error :', e)
finally:
    cursor.close()
    conn.close()

테이블 없음
100 레코드 추가