In [4]:
import pymysql

config = {
    'host' : '127.0.0.1',
    'user' : 'scott',
    'password' : 'tiger',
    'database' : 'employees',
    'port' : 3309,
    'charset':'utf8',
    'use_unicode' : True}

try :
    conn = pymysql.connect(**config)
    cursor = conn.cursor()
    
    # inner join
    pay = int(input('join 급여 입력 : '))
    sql =f"""select e.empno, e.ename, e.sal, d.dname, d.loc
    from emp e inner join dept d
    on e.dname = d.dname and e.sal >= {pay}"""
    
    cursor.execute(sql)
    data = cursor.fetchall()
    for row in data :
        print(row[0], row[1], row[2], row[3], row[4])

    print('검색된 레코드 수 :', len(data))

        
except Exception as e :
    print('db error :', e)
finally:
    cursor.close()
    conn.close()

join 급여 입력 : 2500
7566 JONES 2975.00 SALES CHICAGO
7698 BLAKE 2850.00 SALES CHICAGO
7788 SCOTT 3000.00 SALES CHICAGO
7839 KING 5000.00 OPERATIONS BOSTON
7902 FORD 3000.00 RESEARCH DALLAS
검색된 레코드 수 : 5