# 튜플

In [1]:
'''
여러 개의 값을 저장하는 data type
1. list
2. tuple
3. set
4. dictionary
'''

'\n여러 개의 값을 저장하는 data type\n1. list\n2. tuple\n3. set\n4. dictionary\n'

In [2]:
'''
tuple data type : () 를 사용함 - () 를 생략할 수 있음
    list 와 비슷함 - tuple(immutable) vs list(mutable)
                    ㄴ 원본이 변형되지 않음
                    ㄴ item을 추가하거나 변경, 삽입, 삭제 못함
                    
                비어있는 tuple을 생성할 수 있음
                    ㄴ (), tuple()
                item이 하나만 있는 tuple 생성시 ,를 붙음
                    ㄴ ,를 붙이지 않으면 문자열이나 숫자로 인식함
                서로 다른 type의 data를 item으로 할 수 있음
                tuple 안에 tuple을 item으로 넣을 수 있음
'''

tp1 = ()
tp2 = tuple()
print('tp1 :', type(tp1), tp1)
print('tp2 :', type(tp2), tp2)

print('-' * 50)

tp3 = 3
tp4 = 3,
print('tp3 :', type(tp3), tp3)
print('tp4 :', type(tp4), tp4)

print('-' * 50)

tp5 = (3)
tp6 = (3,)
print('tp5 :', type(tp5), tp5)
print('tp6 :', type(tp6), tp6)

print('-' * 50)

tp7 = 1, 2, 3, 4, 5
tp8 = (1, 2, 3, 4, 5)
print('tp7 :', type(tp7), tp7)
print('tp8 :', type(tp8), tp8)

tp1 : <class 'tuple'> ()
tp2 : <class 'tuple'> ()
--------------------------------------------------
tp3 : <class 'int'> 3
tp4 : <class 'tuple'> (3,)
--------------------------------------------------
tp5 : <class 'int'> 3
tp6 : <class 'tuple'> (3,)
--------------------------------------------------
tp7 : <class 'tuple'> (1, 2, 3, 4, 5)
tp8 : <class 'tuple'> (1, 2, 3, 4, 5)

In [3]:
'''
# list, tuple, set, dictionary
#  ㄴ data 여러 개를 하나로 묶어서 저장함 : packing
'''

tp5 = 1, 2, 3, 4, 5
print('tp5 :', type(tp5), tp5)

print('-' * 50)

'''
# tuple 속에 들어있는 data 하나 하나를 꺼내서
# 각각의 변수에 저장함 : unpacking
'''

t1, t2, t3, t4, t5 = 1, 2, 3, 4, 5
print('t1 :', type(t1), t1)
print('t2 :', type(t2), t2)
print('t3 :', type(t3), t3)
print('t4 :', type(t4), t4)
print('t5 :', type(t5), t5)

print('-' * 50)

t1, *t2 = 1, 2, 3, 4, 5
print('t1 :', type(t1), t1)
print('t2 :', type(t2), t2)

print('-' * 50)

t1, t2, *t3 = 1, 2, 3, 4, 5
print('t1 :', type(t1), t1)
print('t2 :', type(t2), t2)
print('t3 :', type(t3), t3)

print('-' * 50)

t1, *t2 = [1, 2, 3, 4, 5]
print('t1 :', type(t1), t1)
print('t2 :', type(t2), t2)

print('-' * 50)

t1, t2, *t3 = [1, 2, 3, 4, 5]
print('t1 :', type(t1), t1)
print('t2 :', type(t2), t2)
print('t3 :', type(t3), t3)

tp5 : <class 'tuple'> (1, 2, 3, 4, 5)
--------------------------------------------------
t1 : <class 'int'> 1
t2 : <class 'int'> 2
t3 : <class 'int'> 3
t4 : <class 'int'> 4
t5 : <class 'int'> 5
--------------------------------------------------
t1 : <class 'int'> 1
t2 : <class 'list'> [2, 3, 4, 5]
--------------------------------------------------
t1 : <class 'int'> 1
t2 : <class 'int'> 2
t3 : <class 'list'> [3, 4, 5]
--------------------------------------------------
t1 : <class 'int'> 1
t2 : <class 'list'> [2, 3, 4, 5]
--------------------------------------------------
t1 : <class 'int'> 1
t2 : <class 'int'> 2
t3 : <class 'list'> [3, 4, 5]

In [4]:
*t1, t2, t3 = 1, 2, 3, 4, 5
print('t1 :', type(t1), t1)
print('t2 :', type(t2), t2)
print('t3 :', type(t3), t3)

print('-' * 50)

*t1, t2 = 1, 2, 3, 4, 5
print('t1 :', type(t1), t1)
print('t2 :', type(t2), t2)

print('-' * 50)

t1, *t2, t3 = 1, 2, 3, 4, 5
print('t1 :', type(t1), t1)
print('t2 :', type(t2), t2)
print('t3 :', type(t3), t3)

print('-' * 50)

t1, *t2, t3 = 1, 2
print('t1 :', type(t1), t1)
print('t2 :', type(t2), t2)
print('t3 :', type(t3), t3)

t1 : <class 'list'> [1, 2, 3]
t2 : <class 'int'> 4
t3 : <class 'int'> 5
--------------------------------------------------
t1 : <class 'list'> [1, 2, 3, 4]
t2 : <class 'int'> 5
--------------------------------------------------
t1 : <class 'int'> 1
t2 : <class 'list'> [2, 3, 4]
t3 : <class 'int'> 5
--------------------------------------------------
t1 : <class 'int'> 1
t2 : <class 'list'> []
t3 : <class 'int'> 2

In [5]:
tp6 = 1, 2, 3, 'python', 'best'
print('typ6 :', type(tp6), tp6)

typ6 : <class 'tuple'> (1, 2, 3, 'python', 'best')

In [6]:
tp7 = ('python', 'programming', 'best', 'language')
tp8 = ('python', 'programming', ('best', 'language'))
tp9 = (1, 2, 'a', 'bc', True, (3, 4, 'human', ('resource', 'academy')))

# tp9 에서 'human' 을 출력하세요
print(tp9[5][2])

# tp9 에서 'academy' 을 출력하세요
print(tp9[5][3][1], tp9[5][-1][-1])

# tp9 에서 (3, 4, 'human') 을 출력하세요
print(tp9[5][:3], tp9[5][:-1])

human
academy academy
(3, 4, 'human') (3, 4, 'human')

In [7]:
tp10 = (1, 2, 3, 4, 5)
tp11 = (6, 7, 8, 9, 10)

print('tp10 :', tp10)
print('tp11 :', tp11)
print('tp10 + tp11 :', tp10 + tp11)
print('tp11 * 3 :', tp11 * 3)

# tuple 속에 있는 data(item) 변경하기
# TypeError: 'tuple' object does not support item assignment
# tp11[2] = 888
# print('tp11[2] :', tp11[2])

# tuple 속에 있는 data(item) 삭제하기
# TypeError: 'tuple' object doesn't support item deletion
# del tp11[2]
# print('tp11 :', tp11)

tp10 : (1, 2, 3, 4, 5)
tp11 : (6, 7, 8, 9, 10)
tp10 + tp11 : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tp11 * 3 : (6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10)