# tuple

In [1]:
tuple_movies = ('라바', '문어선생님', '지구의밤')
print('tuple_movies', type(tuple_movies), tuple_movies)

tuple_movies <class 'tuple'> ('라바', '문어선생님', '지구의밤')

In [2]:
'''
각 type에는 type 이름과 같은 이름의 함수가 있음

str()
int()
float()
list()
tuple()
'''

'''
tuple --> list
'''

tuple_movies = list(tuple_movies)
print('tuple_movies', type(tuple_movies), tuple_movies)

'''
list --> tuple
'''

tuple_movies = tuple(tuple_movies)
print('tuple_movies', type(tuple_movies), tuple_movies)

tuple_movies <class 'list'> ['라바', '문어선생님', '지구의밤']
tuple_movies <class 'tuple'> ('라바', '문어선생님', '지구의밤')

In [3]:
'''
    range() 함수 : argument 에 정수를 넣음
        
        range(end)              : 0 부터 (end-1)까지
        range(start, end)       : start 부터 (end-1) 까지
        range(start, end, step) : start 부터 (end-1) 까지 (step-1) 씩 건너뜀
    
'''

print("range(10) :", range(10))
print("list(range(10)) :", list(range(10)))
print("tuple(range(10)) :", tuple(range(10)))
print("tuple(range(1, 10)) :", tuple(range(1, 10)))
print("tuple(range(1, 11)) :", tuple(range(1, 11)))

# 1부터 10까지의 정수 중 홀수만 출력하기
print("list(range(1, 11, 2)) :", list(range(1, 11, 2)))

# 1부터 10까지의 정수 중 짝수만 출력하기
print("list(range(2, 11, 2)) :", list(range(2, 11, 2)))

range(10) : range(0, 10)
list(range(10)) : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
tuple(range(10)) : (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
tuple(range(1, 10)) : (1, 2, 3, 4, 5, 6, 7, 8, 9)
tuple(range(1, 11)) : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
list(range(1, 11, 2)) : [1, 3, 5, 7, 9]
list(range(2, 11, 2)) : [2, 4, 6, 8, 10]

In [4]:
'''
range() 함수를 사용해서 1부터 10까지의 tuple 을 생성하고
(1, 2, 3, 4, 5) 를 출력하세요

1) range() 사용
2) slicing (index) 사용
'''

# 1)
print(tuple(range(1, 6)));

# 2)
print(tuple(range(1, 11))[:5]);

# 2)
tp1 = tuple(range(1, 11))
print(tp1[:5])

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [5]:
'''
    str, list, tuple, range - sequencial type
                    index -->   ㄴ squence가 있는 type
                                    (순서)

# in 연산자 : list 나 tuple, range 속에 
#           지정한 data가 있는지 알아봄
'''

nums = list(range(1, 11))

print(nums)
print('5 in nums :', 5 in nums)
print('15 in nums :', 15 in nums)
print('15 not in nums :', 15 not in nums)
print('23 in range(11, 51) :', 23 in range(11, 51))
print('23 in tuple(range(11, 51)) :', 23 in tuple(range(11, 51)))

print("'o' in 'python'", 'o' in 'python')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
5 in nums : True
15 in nums : False
15 not in nums : True
23 in range(11, 51) : True
23 in tuple(range(11, 51)) : True
'o' in 'python' True