# Set - 데이터 타입

In [1]:
'''
    set data type - 집합 : {} 중괄호를 사용함 (dictionary 에서도 {} 중괄호 사용)
                          비어있는 set 을 생성할 수 있음
                            ㄴ set() 사용 / {} 사용 안 함
                          index 가 없음 - 저장 순서가 보장되지 않음
                                        중복이 허용되지 않음
'''

set1 = set()
print('set1 :', type(set1), set1)

set2 = {1, 2,  3, 4, 5, 6, 7, 8}
print('set2 :', type(set2), set2)

# list 로 set 생성하기 - list 를 set() 함수로 형변환해서 사용하는 경우
nums = [11, 22, 33, 44, 55]
print('nums :', type(nums), nums)
set3 = set(nums)
print('set3 :', type(set3), set3)

# tuple 로 set 생성하기 - tuple 를 set() 함수로 형변환해서 사용하는 경우
nums = (1, 2, 3, 4, 5)
print('nums :', type(nums), nums)
# tp1 = set((1, 2, 3, 4, 5))
tp1 = set(nums)
print('tp1 :', type(tp1), tp1)

# TypeError: set expected at most 1 argument, got 5
#   ㄴ set() 함수의 argument 에는 값 하나만 넣을 수 있음
# set() 함수에 tuple의 ()를 생략하면 tuple 로 인식하지 않고
# 정수값 5개로 인식함
# tp1 = set(1, 2, 3, 4, 5)
# print('tp1 :', type(tp1), tp1)

set1 : <class 'set'> set()
set2 : <class 'set'> {1, 2, 3, 4, 5, 6, 7, 8}
nums : <class 'list'> [11, 22, 33, 44, 55]
set3 : <class 'set'> {33, 11, 44, 22, 55}
nums : <class 'tuple'> (1, 2, 3, 4, 5)
tp1 : <class 'set'> {1, 2, 3, 4, 5}

In [2]:
# str(문자열) 을 가지고 set 생성하기
str1 = 'hello python'
set5 = set(str1)

print('set5 :', set5)

set5 : {'t', 'y', 'e', 'l', 'o', 'n', ' ', 'p', 'h'}

In [3]:

'''
# list --> set
'''

set6 = set([1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5])
print('set6 :', type(set6), set6)

nums = list(set6)
print('nums :', type(nums), nums)

set6 : <class 'set'> {1, 2, 3, 4, 5}
nums : <class 'list'> [1, 2, 3, 4, 5]