# Set - method

In [1]:
'''
    set 자료형에 값 하나 추가하기 : add() 메소드
        ㄴ mutable type
'''

set1 = {1, 2, 3}
print('set1 :', set1)

set1.add(6)
print('set1 :', set1)

set1 : {1, 2, 3}
set1 : {1, 2, 3, 6}

In [2]:
'''
    set 자료형에 값 여러 개 추가하기 : update() 메소드
'''

set1.update({4, 5 , 6})
print('set1 :', set1)

set1.update({7, 8 , 9})
print('set1 :', set1)

set1.update((7, 8 , 9))
print('set1 :', set1)

set1 : {1, 2, 3, 4, 5, 6}
set1 : {1, 2, 3, 4, 5, 6, 7, 8, 9}
set1 : {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
'''
    set 자료형에 저장된 item 삭제하기 :
        ㄴ remove(), discard(), pop(), clear()
'''

print('set1 :', set1)

# remove() : 삭제된 item 을 다시 삭제하는 경우 KeyError 발생
#   ㄴ KeyError: 9
set1.remove(9)
print('set1 :', set1)

set1 : {1, 2, 3, 4, 5, 6, 7, 8, 9}
set1 : {1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
set1.discard(7)
print('set1 :', set1)

# discard() : 없는 item 을 삭제하면 Error 발생 안 하고 실행만 안됨
set1.discard(7)
print('set1 :', set1)

set1 : {1, 2, 3, 4, 5, 6, 8}
set1 : {1, 2, 3, 4, 5, 6, 8}

In [5]:
'''
# pop() : 인덱스가 없기 때문에 순서에 상관없이 임의로 삭제가 됨
'''
set1.pop()
print('set1 :', set1)

set1.pop()
print('set1 :', set1)

set1.pop()
print('set1 :', set1)

set1 : {2, 3, 4, 5, 6, 8}
set1 : {3, 4, 5, 6, 8}
set1 : {4, 5, 6, 8}

In [6]:
set1.clear()
print('set1 :', set1)

set1 : set()

In [7]:
'''
set 자료형 복사하기
'''

set2 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
set2_copy = set2.copy()
print('set2 :', id(set2), set2)
print('set2_copy :', id(set2_copy), set2_copy)

set2 : 4352687232 {1, 2, 3, 4, 5, 6, 7, 8, 9}
set2_copy : 4352687904 {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
list1 = [1, 2, 3, 4, 5]
list1_copy = list1.copy()
print('list1 :', id(list1), list1)
print('list1_copy :', id(list1_copy), list1_copy)

list1 : 4363731968 [1, 2, 3, 4, 5]
list1_copy : 4363739328 [1, 2, 3, 4, 5]

In [9]:
try:
    # AttributeError: 'tuple' object has no attribute 'copy'
    # tuple 에는 copy() 메소드가 없음
    tp1 = (1, 2, 3, 4, 5)
    tp1_copy = tp1.copy()
    print('tp1 :', id(tp1), tp1)
    print('tp1_copy :', id(tp1_copy), tp1_copy)
except Exception as e:
    print(e)

'tuple' object has no attribute 'copy'