# Set - range

In [1]:
'''
range() 함수 사용해서 set 생성하기
'''

set_range = set(range(1, 11))
print('set_range :', set_range)

set_range : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
'''
list 속에 list 나 tuple 포함하기
'''

list_nums = [1, 2, 3, [4, 5], [6, 7], [8, 9]]
print('list_nums :', list_nums)

list_nums : [1, 2, 3, [4, 5], [6, 7], [8, 9]]

In [3]:
'''
list 속에 set 포함하기
'''

list_nums2 = [1, 2, 3, {4, 5, 6}]
print('list_nums2 :', list_nums2)

list_nums2 : [1, 2, 3, {4, 5, 6}]

In [4]:
'''
tuple(immutable type) 속에 set 포함하기
                           ㄴ mutable type
'''

tuple_nums2 = (1, 2, 3, {4, 5, 6})
print('tuple_nums2 :', tuple_nums2)

tuple_nums2 : (1, 2, 3, {4, 5, 6})

In [5]:
'''
set(mutable)속에 tuple 포함하기
                  ㄴ immutable type
'''

set_nums2 = {1, 2, 3, (4, 5, 6)}
print('set_nums2 :', set_nums2)

set_nums2 : {1, 2, 3, (4, 5, 6)}

In [6]:

'''
set(mutable)속에 list 포함하기
                 ㄴ mutable type
'''

try:
    # TypeError: unhashable type: 'list' <-- mutable type
    set_nums2 = {1, 2, 3, [4, 5, 6]}
    print('set_nums2 :', set_nums2)
except Exception as e:
    print(e)

unhashable type: 'list'

In [7]:
'''
set(mutable)속에 set 포함하기
                 ㄴ mutable type
'''

try:
    # unhashable type: 'set'
    set_nums2 = {1, 2, 3, {4, 5, 6}}
    print('set_nums2 :', set_nums2)
except Exception as e:
    print(e)

unhashable type: 'set'