# 파이썬 기초수업

str.format() 메소드

In [46]:
fruit = '메론'
count = 3
days = 2

'''
나는 메론을 3개 먹었습니다
'''

print("나는 %s을 %d개 먹었습니다" % (fruit, count))
print("나는 {}을 {}개 먹었습니다".format(fruit, count))
print("나는 {0}을 {1}개 먹었습니다".format(fruit, count))
print("나는 {1}개의 {0}을 먹었습니다".format(fruit, count))

나는 메론을 3개 먹었습니다
나는 메론을 3개 먹었습니다
나는 메론을 3개 먹었습니다
나는 3개의 메론을 먹었습니다

In [47]:
print("나는 {fruit}을 {count}개 먹었습니다".format(fruit="수박", count=5))

나는 수박을 5개 먹었습니다

In [48]:
'''
나는 메론을 3개 먹고 2일 동안 배가 아팠습니다
'''

days = 2

print("나는 {}을 {}개 먹고 {}일 동안 배가 아팠습니다".format(fruit, count, days))
print("나는 {0}을 {1}개 먹고 {2}일 동안 배가 아팠습니다".format(fruit, count, days))

'''
나는 2일 동안 배가 아팠습니다. 메론을 3개 먹었기 때문입니다
'''

print("나는 {2}일 동안 배가 아팠습니다. {0}을 {1}개 먹었기 때문입니다".format(fruit, count, days))

나는 메론을 3개 먹고 2일 동안 배가 아팠습니다
나는 메론을 3개 먹고 2일 동안 배가 아팠습니다
나는 2일 동안 배가 아팠습니다. 메론을 3개 먹었기 때문입니다

In [49]:
print("{:<10}".format("py")) # 10자리 확보하면서 왼쪽 정렬
print("{:>10}".format("py")) # 10자리 확보하면서 오른쪽 정렬
print("{0:^10}".format("py")) # 캐럿(^) 문자열 - 중간 정렬

py
        py
    py

In [50]:
print("{1:<10}".format("py", "thon"))
print("{1:>10}".format("py", "thon"))
print("{0:^10}".format("py", "thon"))

thon
      thon
    py

In [51]:
print("{:=<10}".format("py"))
print("{:=>10}".format("py"))
print("{:=^10}".format("py"))

py========
========py
====py====

In [52]:
print("{:*<10}".format("py"))
print("{:*>10}".format("py"))
print("{:*^10}".format("py"))

py********
********py
****py****

In [53]:
figure = 3.1415926535

print("{:.4f}".format(figure))
print("{:0.4f}".format(figure))
print("{:10.4f}".format(figure))
print("{:<10.4f}".format(figure))
print("{:>10.4f}".format(figure))

# format() 메소드에서는 <, >, ^를 사용해야 함
# print("{:-10.4f}".format(figure))

3.1416
3.1416
    3.1416
3.1416
    3.1416

In [54]:
print("{:,}".format(25689749))
print(format(25689749, ','))

# format(25689749, ',') 속에 있는 숫자는 문자열로 인식함
print("%15s" % format(25689749, ','))
print("%-15s" % format(25689749, ','))

# %d 로 하면 에러가 발생함
#print("%15d" % format(25689749, ','))

25,689,749
25,689,749
     25,689,749
25,689,749