# 파이썬 기초수업

문자열 인덱싱(indexing)

In [41]:
'''
'짝짝짝' 이 출력되도록 해 보세요 : step 사용하기
'홀홀홀' 이 출력되도록 해 보세요 : step 사용하기
'''
str1 = '홀짝홀짝홀짝'

print(str1[1::2])
print(str1[0::2])

짝짝짝
홀홀홀

In [42]:
'''
문자열 거꾸로 출력하기
- 'nohtyp' 을 출력하세요
'''

str2 = 'python'
print(str2[::-1])

nohtyp

In [43]:
'''
전화번호에서 '-'를 제거하고 출력하세요
'''

phone = '010-6598-8754'

# slicing
print(phone[:3] + phone[4:8] + phone[9:])

# 2) replace() : 문자열 제거할 때는 ''(빈문자열) 사용
print(phone.replace('-', ''))

01065988754
01065988754

In [44]:
'''
아래의 문자열에서 'naver'를 출력하세요
1) slicing
2) split()
'''

url_addr = 'http://www.naver.com'

# 1) slicing
start = url_addr.find('naver')
end = start + len('naver')
print(url_addr[start:end])

# 2) split()
print(url_addr.split('.'))
print(url_addr.split('.')[1])
print(url_addr.split('.')[-2])

naver
['http://www', 'naver', 'com']
naver
naver

In [45]:
'''
1) print formatting (%-formatting)을 사용해서
아래와 같이 출력하세요

이름: 이순신 나이: 48
이름: 강감찬 나이: 72

2) str.format()

3) f-string
'''

name1 = '이순신'
age1 = 48
name2 = '강감찬'
age2 = 72

print("이름: %s 나이: %d \n이름: %s 나이: %d" % (name1, age1, name2, age2))
print("이름: {} 나이: {} \n이름: {} 나이: {}".format(name1, age1, name2, age2))
print(f"이름: {name1} 나이: {age1} \n이름: {name2} 나이: {age2}")

이름: 이순신 나이: 48
이름: 강감찬 나이: 72
이름: 이순신 나이: 48
이름: 강감찬 나이: 72
이름: 이순신 나이: 48
이름: 강감찬 나이: 72

In [46]:
'''
아래 문자열의 ,를 제거하고
정수타입(int) 으로 변환해서 출력하세요
'''

quoted_share = '6,548,325,658'
print(quoted_share.replace(',',''))

result = quoted_share.replace(',','')
print('result :', result)
print('result :', type(result))
# result : <class 'str'>
#            ㄴ type

number = int(result)
print('number :', number)
print('number :', type(number))
# result : <class 'int'>
#            ㄴ type

6548325658
result : 6548325658
result : <class 'str'>
number : 6548325658
number : <class 'int'>

In [47]:
'''
endswith('문자열') 메소드
  : 해당 문자열이 지정한 문자열로 끝나는지 알아보는 메소드
'''

file1 = "20220212보고서.xlsx"
print(file1.endswith('.xlsx'))

'''
  해당 문자열이 'xlsx' 나 'xls' 로 끝나는지 알아보기
'''
print(file1.endswith(('.xlsx', '.xls')))

True
True

In [48]:
'''
startswith('문자열') 메소드
  : 해당 문자열이 지정한 문자열로 시작하는지 알아보는 메소드
'''

file1 = "20220212보고서.xlsx"
print(file1.startswith('2022'))

True