# 파이썬 기초수업

데이터 형 변환(data type casting)

In [14]:
'''
data type : data 가 저장(할당)되는 공간의 형태(크기와 모양(구조))

형(type) 변환 : str type -> int type
  ㄴ casting
'''

name = '더조은'
age = 27

print('type(name) :', type(name), name)
print('type(age) :', type(age), age)

type(name) : <class 'str'> 더조은
type(age) : <class 'int'> 27

In [15]:
'''
int type -> str type : str(age)
str type -> int type : int(age)
'''

age = str(age)
print('type(age) :', type(age), age)

age = int(age)
print('type(age) :', type(age), age)

name = '더조은'
age = 27
print("이름 : " + name + ", 나이 : " + str(age))

name = '더조은'
age = 27
age = str(age)
print("이름 : " + name + ", 나이 : " + age)
print('type(age) :', type(age), age)

# 1년후 나이 -> 28
age = int(age) + 1
age = str(age)
print("이름 : " + name + ", 나이 : " + age)

type(age) : <class 'str'> 27
type(age) : <class 'int'> 27
이름 : 더조은, 나이 : 27
이름 : 더조은, 나이 : 27
type(age) : <class 'str'> 27
이름 : 더조은, 나이 : 28

In [16]:
'''
실수(float type) --> 정수(int type)
'''

num1 = 3.14
print('num1 :', type(num1), num1)

num1 = int(num1)
print('num1 :', type(num1), num1)

num1 : <class 'float'> 3.14
num1 : <class 'int'> 3

In [17]:
'''
정수(int type) --> 정수(float type): float()
'''

num1 = 3
num1 = float(num1)
print('num1 :', type(num1), num1)

num1 : <class 'float'> 3.0

In [18]:
'''
논리형(bool type) --> 정수(int type) : int()
'''

b1 = True
print('b1 :', type(b1), b1)

b1 = int(b1)
print('b1 :', type(b1), b1)


b2 = False
print('b2 :', type(b2), b2)

b2 = int(b2)
print('b2 :', type(b2), b2)

b1 : <class 'bool'> True
b1 : <class 'int'> 1
b2 : <class 'bool'> False
b2 : <class 'int'> 0

In [19]:
'''
문자열(str type) --> 정수(int type) : int()
  숫자 모양의 문자열만 정수자료형으로 변환할 수 있음
'''

str1 = '111'
print('str1 :', type(str1))
print('str1 :', str1 * 5)
print('str1 :', str1 + str(5))
print('str1 :', int(str1) + 5) # 더하기
print('str1 :', int(str1) * 5) # 곱하기
print('str1 :', int(str1) ** 5) # 제곱

str1 : <class 'str'>
str1 : 111111111111111
str1 : 1115
str1 : 116
str1 : 555
str1 : 16850581551

In [20]:
'''
실수 모양의 문자열을 숫자로 변환하기
실수 모양의 문자열은 int() 로 변환하지 못하고
                float() 로 변환해야 함
'''

str2 = '3.141592'
print('str2 :', type(str2), str2)

# ValueError: invalid literal for int() with 10진수(base 10): '3.141592'
# str2 = int(str2)
str2 = float(str2)
print('str2 :', type(str2), str2)

str2 : <class 'str'> 3.141592
str2 : <class 'float'> 3.141592

In [21]:
'''
정수 모양의 문자열을 숫자로 변환하기
정수 모양의 문자열은 float() 로도 변환할 수 있고
                int() 로 변환할 수 있다
'''

str3 = '123456'
print('str3 :', type(str3), str3)

str3 = '123456'
str3 = int(str3)
print('str3 :', type(str3), str3)

str3 = '123456'
str3 = float(str3)
print('str3 :', type(str3), str3)

str3 : <class 'str'> 123456
str3 : <class 'int'> 123456
str3 : <class 'float'> 123456.0