# json

In [1]:
'''
244 page

JSON : Javascript Object Notation - python 의 dictionary 하고 형태가 비슷함

JSON 파일[문서]
  ㄴ network 상에서 표준으로 사용되는 파일 형식 : 파일 전송시 사용하는 형식

- json 모듈
    - 1) encoding : Python 객체(dictionary or list) -> json 파일로 변환
                                                     (json 문자열)
      2) json 파일(json 문자열) -> Python 객체 (dictionary or list)
'''

import json

In [2]:
'''
1) json encoding
Python 객체 (dictionary or list) 를 json 문자열로 변환함

형식) json.dumps(python object)
'''

# python dictionary
user = {'id':1234, 'name':'홍길동'}
print(type(user), user)

<class 'dict'> {'id': 1234, 'name': '홍길동'}

In [3]:
'''
ensure_ascii 파라미터값이 True 로 되어있으면 한글이 unicode 로 출력됨
ensure_ascii=False 로 설정해야 함 <-- json.dumps(user,ensure_ascii=False)
'''
jsonSTR = json.dumps(user)
print(type(jsonSTR), jsonSTR)

jsonSTR = json.dumps(user,ensure_ascii=False)
print(type(jsonSTR), jsonSTR)

# 슬라이싱이 되는 것을 보면 문자열인지 아닌지 확인할 수 있다.
print(jsonSTR[:5])

<class 'str'> {"id": 1234, "name": "\ud64d\uae38\ub3d9"}
<class 'str'> {"id": 1234, "name": "홍길동"}
{"id"

In [4]:
'''
2) json decoding
json 문자열을 Python 객체 (dictionary or list) 로 변환함

형식) json.loads(jsonString)
jsonSTR: '{"id": 1234, "name": "홍길동"}'
'''

json2dict = json.loads(jsonSTR)
print(type(json2dict), json2dict)

# dictionary 타입인지 확인
print(json2dict['name'])

for key in json2dict:
    print(key, ':', json2dict[key])

<class 'dict'> {'id': 1234, 'name': '홍길동'}
홍길동
id : 1234
name : 홍길동

In [5]:
'''
3) json 문자열들이 저장된 파일 (usagov_bitly.txt) 일기
'''

file1 = open('../dataset/data/usagov_bitly.txt', 'r', encoding='utf-8')

# readlines : 문자열은 한 줄씩 읽어서 그 한 줄(문자열)을 요소로 하는 list를 생성 함
lines = file1.readlines()

# 1) 줄 단위로 읽기 (json string)
# 2) dictionary 로 변환하기
# 3) list 저장
list_dict = []

for str1 in lines:
    list_dict.append(json.loads(str1))

print(len(list_dict), list_dict[0], sep='\n')

file1.close()

3560
{'a': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11', 'c': 'US', 'nk': 1, 'tz': 'America/New_York', 'gr': 'MA', 'g': 'A6qOVH', 'h': 'wfLQtf', 'l': 'orofrog', 'al': 'en-US,en;q=0.8', 'hh': '1.usa.gov', 'r': 'http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf', 'u': 'http://www.ncbi.nlm.nih.gov/pubmed/22415991', 't': 1331923247, 'hc': 1331822918, 'cy': 'Danvers', 'll': [42.576698, -70.954903]}

In [6]:
file1 = open('../dataset/data/usagov_bitly.txt', 'r', encoding='utf-8')

# readlines : 문자열은 한 줄씩 읽어서 그 한 줄(문자열)을 요소로 하는 list를 생성 함
lines = file1.readlines()

# list comprehension
rows = [json.loads(str1) for str1 in lines]

print(len(rows), rows[0], sep='\n')

file1.close()

3560
{'a': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11', 'c': 'US', 'nk': 1, 'tz': 'America/New_York', 'gr': 'MA', 'g': 'A6qOVH', 'h': 'wfLQtf', 'l': 'orofrog', 'al': 'en-US,en;q=0.8', 'hh': '1.usa.gov', 'r': 'http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf', 'u': 'http://www.ncbi.nlm.nih.gov/pubmed/22415991', 't': 1331923247, 'hc': 1331822918, 'cy': 'Danvers', 'll': [42.576698, -70.954903]}

In [7]:
'''
dictionary 를 Datafrome 으로 변환하기

{} -> row, 'key:value' -> column
'''
import pandas as pd

# DataFrame 객체를 생성하면서 생성자의 parameter에
# dictionary 를 요소로 하는 list 를 전달 함
record_df = pd.DataFrame(rows)
record_df.head()

,a,c,nk,tz,gr,g,h,l,al,hh,r,u,t,hc,cy,ll,_heartbeat_,kw
0,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,1.0,America/New_York,MA,A6qOVH,wfLQtf,orofrog,"en-US,en;q=0.8",1.usa.gov,http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/...,http://www.ncbi.nlm.nih.gov/pubmed/22415991,1.331923e+09,1.331823e+09,Danvers,"[42.576698, -70.954903]",NaN,NaN
1,GoogleMaps/RochesterNY,US,0.0,America/Denver,UT,mwszkS,mwszkS,bitly,NaN,j.mp,http://www.AwareMap.com/,http://www.monroecounty.gov/etc/911/rss.php,1.331923e+09,1.308262e+09,Provo,"[40.218102, -111.613297]",NaN,NaN
2,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,US,1.0,America/New_York,DC,xxr3Qb,xxr3Qb,bitly,en-US,1.usa.gov,http://t.co/03elZC4Q,http://boxer.senate.gov/en/press/releases/0316...,1.331923e+09,1.331920e+09,Washington,"[38.9007, -77.043098]",NaN,NaN
3,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,BR,0.0,America/Sao_Paulo,27,zCaLwp,zUtuOu,alelex88,pt-br,1.usa.gov,direct,http://apod.nasa.gov/apod/ap120312.html,1.331923e+09,1.331923e+09,Braz,"[-23.549999, -46.616699]",NaN,NaN
4,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,0.0,America/New_York,MA,9b6kNl,9b6kNl,bitly,"en-US,en;q=0.8",bit.ly,http://www.shrewsbury-ma.gov/selco/,http://www.shrewsbury-ma.gov/egov/gallery/1341...,1.331923e+09,1.273672e+09,Shrewsbury,"[42.286499, -71.714699]",NaN,NaN

In [8]:
record_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3560 entries, 0 to 3559
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   a            3440 non-null   object
 1   c            2919 non-null   object
 2   nk           3440 non-null   float64
 3   tz           3440 non-null   object
 4   gr           2919 non-null   object
 5   g            3440 non-null   object
 6   h            3440 non-null   object
 7   l            3440 non-null   object
 8   al           3094 non-null   object
 9   hh           3440 non-null   object
 10  r            3440 non-null   object
 11  u            3440 non-null   object
 12  t            3440 non-null   float64
 13  hc           3440 non-null   float64
 14  cy           2919 non-null   object
 15  ll           2919 non-null   object
 16  _heartbeat_  120 non-null    float64
 17  kw           93 non-null     object
dtypes: float64(4), object(14)
memory usage: 500.8+ KB