# sqlite3

In [1]:
'''
289 page

sqlite3 - 내장형 DBMS
        - 기기 내부에서만 사용 가능함
        - 외부 접근이 허용되지 않음
'''
import sqlite3

print(sqlite3.sqlite_version)

3.32.3

In [2]:
'''
db 연결하기 - Connection 객체 생성하기
'''

# sqlite3 모듈에 정의되어 있는 connect() 함수를 호출함
conn = sqlite3.connect('../dataset/data/sqlite_db')

# sql 실행 객체 생성하기
cursor = conn.cursor()

# table 생성하기
sql = "CREATE TABLE IF NOT EXISTS `test_table`(name text(10), phone text(15), addr text(500))"
    
# sql 문 실행하기
cursor.execute(sql)

In [3]:
# 레코드 추가하기
cursor.execute("INSERT INTO `test_table` VALUES('이순신', '010-1234-5678', '서울시')")
cursor.execute("INSERT INTO `test_table` VALUES('홍길동', '010-5678-1234', '강원도')")
cursor.execute("INSERT INTO `test_table` VALUES('임꺽정', '111-2222-3333', '부산시')")

# DML 작업을 최종적으로 DB에 반영함
conn.commit()

In [4]:
# 레코드 조회하기 : * (모든 컬럼을 의미함)
cursor.execute("SELECT * FROM `test_table`")
rows = cursor.fetchall()

print("이름", "전화번호", "\t주소", sep='\t')

for row in rows:
    print(row[0], row[1], row[2], sep='\t')

이름	전화번호		주소
이순신	010-1234-5678	서울시
홍길동	010-5678-1234	강원도
임꺽정	111-2222-3333	부산시

In [5]:
# 레코드 삭제하기
cursor.execute("DROP TABLE IF EXISTS `test_table`")

# DML 작업을 최종적으로 DB에 반영함
conn.commit()

## try catch

In [6]:
# sqlite3 모듈에 정의되어 있는 connect() 함수를 호출함
conn = sqlite3.connect('../dataset/data/sqlite_db')

# sql 실행 객체 생성하기
cursor = conn.cursor()

try :
    
    # table 생성하기
    cursor.execute("CREATE TABLE IF NOT EXISTS `test_table`(name text(10), phone text(15), addr text(500))")
        
    # DML 작업을 최종적으로 DB에 반영함
    conn.commit()
    
except Exception as e :
    print('DB 연결 실패 :', e)
    
    # DML 작업한 부분 실행 취소
    conn.rollback()
    
finally:
    cursor.close()
    conn.close()

In [7]:
# sqlite3 모듈에 정의되어 있는 connect() 함수를 호출함
conn = sqlite3.connect('../dataset/data/sqlite_db')

# sql 실행 객체 생성하기
cursor = conn.cursor()

try :
    
    # 레코드 추가하기
    cursor.execute("INSERT INTO `test_table` VALUES('이순신', '010-1234-5678', '서울시')")
    cursor.execute("INSERT INTO `test_table` VALUES('홍길동', '010-5678-1234', '강원도')")
    cursor.execute("INSERT INTO `test_table` VALUES('임꺽정', '111-2222-3333', '부산시')")

    # DML 작업을 최종적으로 DB에 반영함
    conn.commit()
    
except Exception as e :
    print('DB 연결 실패 :', e)
    
    # DML 작업한 부분 실행 취소
    conn.rollback()
    
finally:
    cursor.close()
    conn.close()

In [8]:
# sqlite3 모듈에 정의되어 있는 connect() 함수를 호출함
conn = sqlite3.connect('../dataset/data/sqlite_db')

# sql 실행 객체 생성하기
cursor = conn.cursor()

try :
    
    # 레코드 조회하기 : * (모든 컬럼을 의미함)
    cursor.execute("SELECT * FROM `test_table`")
    rows = cursor.fetchall()

    print("이름", "전화번호", "\t주소", sep='\t')

    for row in rows:
        print(row[0], row[1], row[2], sep='\t')
        
except Exception as e :
    print('DB 연결 실패 :', e)
    
    # DML 작업한 부분 실행 취소
    conn.rollback()
    
finally:
    cursor.close()
    conn.close()

이름	전화번호		주소
이순신	010-1234-5678	서울시
홍길동	010-5678-1234	강원도
임꺽정	111-2222-3333	부산시

In [9]:
# sqlite3 모듈에 정의되어 있는 connect() 함수를 호출함
conn = sqlite3.connect('../dataset/data/sqlite_db')

# sql 실행 객체 생성하기
cursor = conn.cursor()

try :
    
    # 레코드 삭제하기
    cursor.execute("DROP TABLE IF EXISTS `test_table`")

    # DML 작업을 최종적으로 DB에 반영함
    conn.commit()
    
except Exception as e :
    print('DB 연결 실패 :', e)
    
    # DML 작업한 부분 실행 취소
    conn.rollback()
    
finally:
    cursor.close()
    conn.close()