# mariadb

In [1]:
import pymysql

pymysql.__version__

'1.0.2'

In [2]:
'''
CRUD
- create, read, update, delete
'''
config = {
    'host' : 'host',
    'port' : 3306,
    'db' : 'db',
    'user' : 'user',
    'password' : 'password',
    'charset' : 'utf8mb4',
    'cursorclass': pymysql.cursors.DictCursor
}

In [3]:
connection = pymysql.connect(**config)

with connection:
    with connection.cursor() as cursor:
        sql = """
        CREATE TABLE IF NOT EXISTS `goods`(
            code int primary key,
            name varchar(20) not null,
            su int,
            dan int
        )
        """
        cursor.execute(sql)

    connection.commit()

In [4]:
connection = pymysql.connect(**config)

with connection:
    with connection.cursor() as cursor:
        
        cursor.execute("INSERT IGNORE INTO goods VALUES(1, '낸장고', 2, 400000)")
        cursor.execute("INSERT IGNORE INTO goods VALUES(2, '세탁기', 3, 350000)")
        cursor.execute("INSERT IGNORE INTO goods VALUES(3, '전자레인지', 2, 35000)")
        cursor.execute("INSERT IGNORE INTO goods VALUES(4, 'HDTV', 3, 150000)")

    connection.commit()

In [5]:
connection = pymysql.connect(**config)

with connection:
    with connection.cursor() as cursor:
        
        sql = "SELECT * FROM `goods`"
        cursor.execute(sql)
        result = cursor.fetchall()
        
        for row in result:
            print(row)

{'code': 1, 'name': '낸장고', 'su': 2, 'dan': 400000}
{'code': 2, 'name': '세탁기', 'su': 3, 'dan': 350000}
{'code': 3, 'name': '전자레인지', 'su': 2, 'dan': 35000}
{'code': 4, 'name': 'HDTV', 'su': 3, 'dan': 150000}

In [6]:
connection = pymysql.connect(**config)

with connection:
    with connection.cursor() as cursor:
        
        sql = "DROP TABLE IF EXISTS `goods`"
        cursor.execute(sql)
        cursor.close()

    connection.commit()