# mariadb - sqlalchemy

In [1]:
'''
312 page

csv -> db table
  1차 실행 : table 생성 -> 레코드 추가
  2차 실행 : 레코드 검색
'''

import pandas as pd

In [2]:
import pymysql

config = {
    'host' : 'host',
    'port' : 3306,
    'db' : 'db',
    'user' : 'user',
    'password' : 'password',
    'charset' : 'utf8mb4',
    'cursorclass': pymysql.cursors.DictCursor
}

In [3]:
# csv 파일을 DataFrame 으로 변환함
bmi = pd.read_csv('../dataset/data2/bmi.csv')
bmi.head()

   height  weight   label
0     184      61    thin
1     189      56    thin
2     183      79  normal
3     143      40  normal
4     187      66  normal

In [4]:
connection = pymysql.connect(**config)

with connection:
    with connection.cursor() as cursor:
        sql = """
        CREATE TABLE IF NOT EXISTS `bmi_table`(
            weight int(20),
            height int(20),
            label text
        )
        """
        cursor.execute(sql)

    connection.commit()

In [5]:
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()

url = f"mysql+mysqldb://{config['user']}:{config['password']}@{config['host']}/{config['db']}"
engine = create_engine(url, encoding='utf-8')

bmi.to_sql('bmi_table', con=engine, if_exists='append', index=False)

20000

In [6]:
connection = pymysql.connect(**config)

with connection:
    with connection.cursor() as cursor:
        sql = """
        SELECT * FROM `bmi_table` LIMIT 10
        """
        cursor.execute(sql)
        result = cursor.fetchall()
        
        for row in result:
            print(row)

    connection.commit()

{'weight': 61, 'height': 184, 'label': 'thin'}
{'weight': 56, 'height': 189, 'label': 'thin'}
{'weight': 79, 'height': 183, 'label': 'normal'}
{'weight': 40, 'height': 143, 'label': 'normal'}
{'weight': 66, 'height': 187, 'label': 'normal'}
{'weight': 52, 'height': 161, 'label': 'normal'}
{'weight': 54, 'height': 186, 'label': 'thin'}
{'weight': 57, 'height': 144, 'label': 'fat'}
{'weight': 55, 'height': 184, 'label': 'thin'}
{'weight': 76, 'height': 165, 'label': 'fat'}

In [7]:
connection = pymysql.connect(**config)

with connection:
    with connection.cursor() as cursor:
        sql = """
        DROP TABLE IF EXISTS `bmi_table`
        """
        cursor.execute(sql)

    connection.commit()