# 함수 (function)

In [1]:
'''
함수 (function)
    ㄴ 반복되는 일정 부분의 code를 한 덩어리로 묶어서
        작성한 후, 이 부분에 이름을 붙이고 이 부분을 실행하는 경우,
        이 이름을 호출해서 실행하는 방법 <-- code 의 재사용
                 ㄴ 호출할 때 넣어주는 값 : argument
                                  (인자, 인잣값, 인수)
        
        input 과          output 이 있음
          ㄴ parameter       ㄴ return (값)

    형식) def 라는 keyword 를 사용함
          ㄴ definition
        
    def 함수이름(parameter-매개변수): <-- 함수 선언부
        명령어(statement)...  |
        명령어(statement)...  | <-- 함수 body(몸통)
        명령어(statement)...  |
        ......
        return (값)
          ㄴ 함수는 return 값이 없어도
             그 실행을 완료하면 자동으로 return함
                ㄴ return 값이 없는 경우에는
                   return keyword 를 생략할 수 있음
                ㄴ return 값이 있는 경우에는
                   return keyword 를 생략할 수 없음
'''

def test1():
    print('여기는 test1 함수 입니다')

# 함수 호출부    
print('test1() :', test1())
print('더조은 학원')

여기는 test1 함수 입니다
test1() : None
더조은 학원

In [2]:
'''
# 2) parameter 는 없고 return 값은 있는 경우
'''

def test2():
    print('여기는 test2 함수 입니다')
    return 100

print('test2() :', test2())

여기는 test2 함수 입니다
test2() : 100

In [3]:
'''
# 3) parameter 는 있는데 return 값이 없는 경우

파이썬에서는 한 변수가
'''

def test3(number):
    print('여기는 test3 함수 입니다')
    print('parameter 로 전달받은 값은', number, '(number) 입니다')

test3(3)
test3('더조은')
test3(True)

여기는 test3 함수 입니다
parameter 로 전달받은 값은 3 (number) 입니다
여기는 test3 함수 입니다
parameter 로 전달받은 값은 더조은 (number) 입니다
여기는 test3 함수 입니다
parameter 로 전달받은 값은 True (number) 입니다

In [4]:
'''
# 4) parameter 값도 있고 return 값도 있는 경우
'''

def test4(name, number):
    print('여기는 test4 함수 입니다')
    print(f"이름: {name}, 번호: {number}")
    return True
    
print('test4() :', test4('홍길돌', 23))

여기는 test4 함수 입니다
이름: 홍길돌, 번호: 23
test4() : True

In [5]:
def multiply(num1, num2):
    return num1 * num2

print(multiply(2, 3))

result = multiply(5, 8)
print(result)

6
40

In [6]:
def multiply2(num1, num2):
    return (num1 + 10) * (num2 + 3)

result = multiply2(2, 3)
print(result)

result = multiply2(num1=10, num2=20)
print(result)

result = multiply2(num2=20, num1=10)
print(result)

72
460
460

In [7]:
'''
# parameter 를 하나 지정하고
# data 를 여러개 전달받는 방법
# 전달되어 온 data 들은 tuple type으로 받게 됨
'''

def add_many(*numbers):
    print(type(numbers), numbers)
    
    result = 0
    for number in numbers:
        result += number
    return result

result = add_many(1)
print(result)

result = add_many(1, 2, 3)
print(result)

result = add_many(1, 2, 3, 4, 5)
print(result)

<class 'tuple'> (1,)
1
<class 'tuple'> (1, 2, 3)
6
<class 'tuple'> (1, 2, 3, 4, 5)
15

In [8]:
# 변수 swap
n1 = 11
n2 = 22
print('n1 :', n1, 'n2 :', n2)

n2, n1 = n1, n2
print('n1 :', n1, 'n2 :', n2)

n1 : 11 n2 : 22
n1 : 22 n2 : 11

In [9]:
def add_multi(operator, *numbers):
    result = 1
    if operator == 'add':
        for i in numbers:
            result += i
    elif operator == 'sub':
        for i in numbers:
            result -= i
    elif operator == 'multi':
        for i in numbers:
            result *= i
    elif operator == 'div':
        for i in numbers:
            result /= i
    return result

result1 = add_multi('add', 1, 2, 3, 4, 5)
result2 = add_multi('sub', 1, 2, 3, 4, 5)
result3 = add_multi('multi', 1, 2, 3, 4, 5)
result4 = add_multi('div', 1, 2, 3, 4, 5)

print(result1, result2, result3, result4)

16 -14 120 0.008333333333333333

In [10]:
def children(*kids):
    print(f"우리집 아이들은 {kids} 입니다")
    
children('더조은', '아이티', '아카데미', '학원')

우리집 아이들은 ('더조은', '아이티', '아카데미', '학원') 입니다

In [11]:
def children2(*kids):
    print(f"우리집 아이들은 {', '.join(kids)} 입니다")
    
children2('더조은', '아이티', '아카데미', '학원')

우리집 아이들은 더조은, 아이티, 아카데미, 학원 입니다

In [12]:
'''
def 함수이름(**parameter):
    statement....
    
**parameter : 매개변수에 dictionary 를 전달함
                ㄴ key, value를 한 쌍으로 같이 받음
'''

def print_dict(**info):
    print(info)

# {'이름': "이순신", '나이': 48}
print_dict(name="이순신", age=48)

{'name': '이순신', 'age': 48}

In [13]:
def print_name(**name):
    print(f"성은 '{name['first_name']}' 이고, 이름은 '{name['last_name']}' 입니다")
    
print_name(first_name="이", last_name="순신")

성은 '이' 이고, 이름은 '순신' 입니다